.scanner{padding: 0px 90px 0px 100px !important;}
.display{display:flex;}

th, td {
    padding: 25px;
    width: 10px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    text-align: center;
  }

 