<div class="row justify-content-center mt-5">
    <div class="col-md-8  mt-3 text-center">
		<div class="col-sm-12 col-md-12 col-lg-12 text-end">
			<button type="button" class="float-end btn btn-primary btn-sm" (click)="actionAddUser(content)"><i class="fa fa-plus-circle fs-5" aria-hidden="true"></i> Add User</button>
		</div>
    </div>
    <div class="col-md-8  mt-3 text-center">
        <div class="row">
			<ag-grid-angular
			style="width: 100%"
			class="ag-theme-alpine ag-table"
			[rowData]="rowData"
			[columnDefs]="columnDefs"
			(cellClicked)='onCellClicked($event,view)'>
			</ag-grid-angular>
        </div>
    </div>
</div>
<!-- add edit user modal -->
<ng-template #content let-modal>
    <div class="modal-header">
		<h5 class="modal-title " id="modal-basic-title">{{addModalTitle}}</h5>
		<span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
    </div>
	<div class="modal-body">
		<form class="example-form" [formGroup]="userForms">
			<div class="row">
				<div class="col-md-6 mb-3">
					<mat-form-field appearance="fill">
						<mat-label>First Name :</mat-label>
						<input type="text" matInput formControlName="first_name" required >
						<mat-error *ngIf="userForms.controls.first_name.errors?.required">
							First Name is required
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-md-6 mb-3">
					<mat-form-field appearance="fill">
						<mat-label>Last Name :</mat-label>
						<input type="text" matInput formControlName="last_name" required >
						<mat-error *ngIf="userForms.controls.last_name.errors?.required">
							Last Name is required
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-3">
					<mat-form-field>
						<mat-label>User Type:</mat-label>
						<mat-select [(ngModel)]="selectedItem">
						<mat-option *ngFor="let userType of userTypes" [value]="userType.name">
							{{userType.name}}
						</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-md-6 mb-3">
					<mat-form-field>
						<mat-label>Facility:</mat-label>
						<mat-select [(ngModel)]="selectedItem">
						<mat-option *ngFor="let facility of facilityOptions" [value]="facility.name">
							{{facility.name}}
						</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-3">
					<mat-form-field appearance="fill">
						<mat-label>Email :</mat-label>
						<input type="text" matInput formControlName="email" required>
						<mat-error *ngIf="userForms.controls.email.errors?.required">
							Email is required
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-3">
					<mat-checkbox>
						<mat-label>Reset Password </mat-label>
					</mat-checkbox>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary btn-sm" [disabled]="!userForms.valid">Save</button>
		<button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
	</div>
</ng-template>

<!-- view user modal -->
<ng-template  #view let-modal >
		<div class="modal-header">
			<h5 class="modal-title " id="modal-view">User Details</h5>
			<span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
		</div>
		<div class="modal-body">
			<div class="row mb-2">
				<div class="col-6 form-group input-group-sm">
					<label class="col-form-label-sm fw-bold">First Name: </label>&nbsp;
					<label class="col-form-label-sm me-2">{{viewData.first_name}}</label>
				</div>
				<div class="col-6 form-group input-group-sm">
					<label class="col-form-label-sm fw-bold">Last Name: </label>&nbsp;
					<label class="col-form-label-sm me-2">{{viewData.last_name}}</label>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-6 form-group input-group-sm">
					<label class="col-form-label-sm fw-bold">User Type: </label>&nbsp;
					<label class="col-form-label-sm me-2">{{viewData.job_type}}</label>
				</div>
				<div class="col-6 form-group input-group-sm">
					<label class="col-form-label-sm fw-bold">Facility: </label>&nbsp;
					<label class="col-form-label-sm me-2">{{viewData.facility}}</label>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-12 form-group input-group-sm">
					<label class="col-form-label-sm fw-bold">Email: </label>&nbsp;
					<label class="col-form-label-sm me-2">{{viewData.email}}</label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary btn-sm" (click)="onEdit($event,content)">Edit</button>
			<button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Exit</button>
		</div>
</ng-template>
