.ag-table{
    width: 650px;
    height: 400px;
}

input.ng-touched.ng-invalid {
    border: 1px solid red; 
    box-shadow: 0 0 13px inset rgba(255, 0, 0, 0.158)a(255, 0, 0, 0.158)a(255, 0, 0, 0.178);
}

.msg{
 color:red;
}

.close-btn{
    cursor:pointer;
    font-size:25px!important;
}