<div class="row justify-content-center mt-5">
    <div class="card mt-2 p-4 col-md-8">
        <div class="header hr">
            <div class="row">
                <span class="col-md-8 fw-bold text-end">{{scannerName}} Horizontal Distances Accuracy</span>
                <span class="col-md-4 text-start"> - {{date}}</span>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="scanner text-center"><img class="scanner-img" src="../../../assets/scanner.png">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="row">
                        <table>
                            <div class="row mt-2">
                                <tbody>
                                    <tr class="g-2 text-center">
                                        <td class="text-center w-50">Pin</td>
                                        <td class="text-center me-2" *ngFor="let item of horizontal_distance">
                                            {{item.display_name}} <span *ngIf="item.display_name.length == 0">-</span></td>
                                    </tr>
                                    <tr class="gap-3">
                                        <td class="text-center">Row 1 Baseline</td>
                                        <td class="text-center me-2" *ngFor="let item of horizontal_distance">
                                            {{item.baseline}}<span *ngIf="item.baseline.length == 0">-</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Row 2 Baseline</td>
                                        <td class="text-center me-2" *ngFor="let list of horizontal_distance">
                                            {{list.baseline}}<span *ngIf="list.baseline.length == 0">-</span>
                                        </td>
                                    </tr>
                                    <tr class="gap-3">
                                        <td class="text-center">Row 1 measured</td>
                                        <td class="text-center me-2" *ngFor="let item of horizontal_distance">
                                            {{item.measured}}<span *ngIf="item.measured.length == 0">-</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Row 2 measured</td>
                                        <td class="text-center me-2" *ngFor="let list of horizontal_distance">
                                            {{list.measured}}<span *ngIf="list.measured.length == 0">-</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </div>
                            <div class="col-md-12 mt-4 mb-4 text-center">
                                <button class="btn btn-secondary btn-sm me-2 col-md-2">Pass</button>
                                <button class="btn btn-outline-secondary btn-sm me-3 col-md-2">Monitor</button>
                                <button class="btn  btn-outline-secondary btn-sm col-md-2">Service</button>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>