<div class="row justify-content-center">
    <div class="col-8 mt-5">
        <a href="/evaluation">Back to Evalutions List</a>
        <div class="loader" *ngIf="loading">
            <mat-spinner diameter="50" customSpinner color="#fff"></mat-spinner>
        </div>
        
        <div class="" *ngIf="evaluationsData && !loading">
            <h4 class="">Evaluations Review</h4>
            
            <div class="evaluationsData" *ngFor="let evaluation of evaluationsData; let evdIndex = index">
                <div class="scanner-data mb-4">
                    <div class="accordion accordion-flush" id="scannerEvaluationsData">
                        <!-- Scanner Data -->
                        <div class="accordion-item border-0" *ngIf="evaluation?.last_evaluation?.physical_condition || evaluation?.last_evaluation?.display_performance">
                            <div class="accordion-header" id="scannerEvalutionsTitle">
                                <button class="accordion-button collapsed position-relative justify-content-between shadow-none mb-2 p-0" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#scannerEvlCategories" aria-controls="scannerEvlCategories">
                                    <span class="font-awesome-font fa-solid fa-caret-right"></span>
                                    <div class="acc-title ms-3 d-flex w-100 justify-content-between border-bottom-3">
                                        <h5 class="modal-title fw-normal">Scanner: {{evaluation?.manufacturer}} {{evaluation?.model}} : {{evaluation?.serial_number}}</h5>
                                        <h5 *ngIf="evaluation?.last_evaluation?.date_performed" class="modal-title fw-normal">{{evaluation?.last_evaluation?.date_performed}}</h5>
                                    </div>
                                </button>
                            </div>
                            <div id="scannerEvlCategories" class="accordion-collapse collapse mb-3" aria-labelledby="scannerEvalutionsTitle" data-bs-parent="#scannerEvaluationsData">
                                <div class="ps-5">
                                    <app-scanner-evaluation-review [scannerId]="evaluation.scanner_id" [scannerData]="evaluation.last_evaluation"></app-scanner-evaluation-review>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Transducers Data -->
                        <ng-container *ngFor="let transducersData of evaluation.transducers; let transdIndex = index">
                            <!-- TODO -->
                            <div class="accordion-item border-0" *ngIf="transducersData?.last_evaluation?.physical_condition">
                                <div class="accordion-header" [attr.id]="'transdTitle'+transdIndex">
                                    <button class="accordion-button collapsed position-relative justify-content-between shadow-none mb-2 p-0" type="button" data-bs-toggle="collapse" aria-expanded="false" [attr.data-bs-target]="'#transData'+transdIndex" [attr.aria-controls]="'transData'+transdIndex">
                                        <span class="font-awesome-font fa-solid fa-caret-right"></span>
                                        <div class="acc-title ms-3 d-flex w-100 justify-content-between border-bottom-3">
                                            <h5 class="modal-title fw-normal">Transducer: {{transducersData?.manufacturer}} {{transducersData?.model}} : {{transducersData?.serial_number}}</h5>
                                            <h5 *ngIf="transducersData?.last_evaluation?.date_performed" class="modal-title fw-normal">{{transducersData.last_evaluation.date_performed}}</h5>
                                        </div>
                                    </button>                            
                                </div>
                                
                                <div [attr.id]="'transData'+transdIndex" class="accordion-collapse collapse" [attr.aria-labelledby]="'transdTitle'+transdIndex" data-bs-parent="#scannerEvaluationsData">
                                    <div class="ps-5">
                                        <!-- TODO -->
                                        <app-transducer-evaluation-review [transdIndex]="transdIndex" [transducerId]="transducersData.transducer_id" [transducerData]="transducersData.last_evaluation"></app-transducer-evaluation-review>
                                    </div>
                                </div>
                            </div>
                        </ng-container> 
                        
                        
                    </div>
                </div>
            </div>
            
            <div class="text-end">
                <button disabled class="btn btn-outline-dark m-1 mt-3">Approve Evaluation</button>
            </div>
        </div>
        
        <div *ngIf="!evaluationsData && !loading">
            No Data Found
        </div>
    </div>
</div>
