<div class="row justify-content-center mt-5">
    <div class="card mt-2 p-4 col-md-8">
        <div class="header hr">
            <h5 class="col-form-label-sm fw-bold float-start">Philips: M12345678 </h5>
            <h5 class="col-form-label-sm me-2 float-end"> Date: {{date}}</h5>
        </div>
        <div class="card-body">
         <div class="row border">
            <div class="col-md-6 scanner"><img class="scanner-img"
                src="../../../assets/scanner.png">
            </div>
            <div class="col-md-10 scanner ">
             <h6 class="text-centerd mt-4 me-2">Distances from reference pin 6(cm)</h6>
             <div *ngFor="let item of horizontal_distance">
       
             </div>
            </div>
         </div>
        </div>
        <div class="footer scanner">
            <button class="btn btn-secondary btn-sm me-2">Pass</button>
            <button class="btn btn-outline-secondary btn-sm me-2">Monitor</button>
            <button class="btn  btn-outline-secondary btn-sm">Service</button>
        </div>
    </div>
</div>


