<div class="row justify-content-center mt-5">
    <div class="card mt-2 p-4 col-md-8">
        <div class="row">
            <div class="col-md-3 mb-3">
                <mat-form-field>
                    <mat-label>Facility:</mat-label>
                    <mat-select [(ngModel)]="selectedFacility" (selectionChange) ="equipmentFilter();onRoomList()">
                        <mat-option value="0">Select</mat-option>   
                        <mat-option *ngFor="let facility of facilityList" value="{{facility}}">
                            {{facility}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 mb-3">
                <mat-form-field>
                    <mat-label>Room:</mat-label>
                    <mat-select [(ngModel)]="selectedRoom" (selectionChange)="equipmentFilter()" [disabled]="!isRoom">
                        <mat-option value="0">Select</mat-option>   
                        <mat-option *ngFor="let room of roomList" value="{{room}}">
                            {{room}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 mb-3">
                <mat-form-field>
                    <mat-label>Type:</mat-label>
                    <mat-select [(ngModel)]="selectedType" (selectionChange)="equipmentFilter()">
                        <mat-option value="0">Select</mat-option>   
                        <mat-option *ngFor="let type of typeList" value="{{type}}">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-1 mb-3">
                <mat-form-field appearance="fill" class="search-field">
                    <mat-label>S/N :</mat-label>
                    <input matInput placeholder="Search" [(ngModel)]="selectedSn" 
                    (keyup)="equipmentFilter()">
                </mat-form-field>
            </div>
        </div>
        <!-- scanner list -->
        <div *ngFor="let scanner of scanners" class="scanner-holder mt-4">
            <div class="row">
                <div class="col-md-5 cursorPointer" (click)="scannerDetail(scanner,scannerView)">{{scanner.make}} {{scanner.model}} : {{scanner.serial_number}}</div>
                <div class="col-md-2">{{scanner.facility}}</div>
                <div class="col-md-2">{{scanner.room}}</div>
                <div class="col-md-2">{{scanner.next_study_due.type}}</div>
                <div class="col-md-2"><span *ngIf="scanner.last_study.finalized == true">Complete
                        (</span>{{scanner.next_study_due.type}}<span
                        *ngIf="scanner.last_study.finalized == true">)</span>
                </div>
            </div> 
            <div class="row d-inline">
                <ul class="ms-5">
                    <li class="cursorPointer" *ngFor="let transducer of scanner.transducers"><a src="#" (click)="onTransducerDetail(transducer,scanner)">{{transducer.make}} {{transducer.model}} : {{transducer.serial_number}}</a></li>
                </ul>
            </div>
        </div>
        <div class="row" *ngIf="loading">
            <mat-spinner diameter="50" customSpinner color="#fff" *ngIf="loading">
                loading ...
            </mat-spinner>
        </div>
    </div> 
</div>

<!-- view scanner  details modal-->
<ng-template #scannerView let-modal>
    <div class="modal-header">
        <h5 class="col-form-label-sm fw-bold" id="modal-view">Scanner Acceptance Study - {{viewData}}</h5>
        <span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
    </div>
    <div class="modal-body px-2">
        <h5 class="col-form-label-sm me-2"> Date: {{date | date: 'M/d/yyyy'}}</h5>
        <div>
            <div class="row mb-2">
                <div class="col-6 form-group input-group-sm">
                    <label class="col-form-label-sm fw-bold">Physical Condition </label>
                </div>
            </div>
            <div class="row mb-2" *ngFor="let res of physical">
                <div class="col-4 form-group input-group-sm">
                    <label class="col-form-label-sm ">{{res[0].replace('_', ' ') |titlecase}}</label>&nbsp;
                </div>
                <div class="col-4 form-group input-group-sm">
                    <select class="col-md-8 col-form-label-sm me-2 " [disabled]="isFinalized"
                        (click)="onSubStudy(isSubStudyAvailable, $event ,res)"
                        [(ngModel)]="res.assessment">
                        <option value="pass" [selected]="res[1].assessment=='pass'">PASS</option>
                        <option value="fail" [selected]="res[1].assessment=='fail'">FAIL</option>
                    </select>
                </div>
                <div class="col-4 form-grou p input-group-sm">
                    <i class="fa fa-camera me-2" aria-hidden="true" 
                        (click)="subStudy(subStudyView,res, res)"></i>
                    <i class="fa fa-edit" (click)="subStudy(
                        subStudyView,res, res)"></i>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6 form-group input-group-sm">
                    <label class="col-form-label-sm fw-bold">Display Evaluation</label>
                </div>
            </div>
            <div class="row mb-2" *ngFor="let res of display">
                <div class="col-4 form-group input-group-sm">
                    <label class="col-form-label-sm ">{{res[0].replace('_', ' ') |titlecase}}</label>&nbsp;
                </div>
                <div class="col-4 form-group input-group-sm">
                    <select class="col-md-8 col-form-label-sm me-2 " [disabled]="isFinalized"
                        (click)="onSubStudy(isSubStudyAvailable, $event ,res.display_name)"
                        [(ngModel)]="res.assessment">
                        <option value="pass" [selected]="res[1] =='pass'">PASS</option>
                        <option value="fail" [selected]="res[1] =='fail'">FAIL</option>
                    </select>
                </div>
                <div class="col-4 form-group input-group-sm">
                    <i class="fa fa-camera me-2" aria-hidden="true" 
                        (click)="subStudy(subStudyView,res.display_name, res)"></i>
                    <i class="fa fa-edit" (click)="subStudy(
                    subStudyView,res.display_name, res)"></i>
                </div>
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" [disabled]="isFinalized">Accept</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
</ng-template>

<!-- subStudy icon -->
<ng-template #subStudyView let-modal>
    <div class="modal-header gap-3">
        <h5 class="modal-title" id="modal-basic-title">Scanner Acceptance Study - {{viewData}}</h5>
        <span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
    </div>
    <div class="modal-body mb-2">
        <span class="col-form-label-sm me-2"> Date: {{date | date: 'M/d/yyyy'}}</span>
        <div class="card">
        <span class="col-form-label-sm px-2">{{scannerAcceptance}}</span>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-4 h-100 border" ng-class="{'my-disable':isSubStudyFlag}"><img class="scanner-img"
                                src="../../../assets/scanner.png"></div>
                    </div>
                    <div class="col-md-6">
                        <textarea type="textarea" class="textarea w-100 h-100" [(ngModel)]="noteValue"></textarea>
                    </div>
                </div>
            </div>
         </div> 
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss('Cross click')">Done</button>
        </div>
    </div>   
</ng-template>

<!-- substudy assessment -->
<ng-template #isSubStudyAvailable let-modal>
    <div class="modal-header gap-3">
        <h5 class="modal-title" id="modal-basic-title">Scanner Acceptance Study - {{viewData}}</h5>
        <span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
    </div>
    <div class="modal-body mb-2">
        <span class="col-form-label-sm me-2"> Date: {{date | date: 'M/d/yyyy'}}</span>
        <div class="row">
            <h5 class="col-form-label-sm mb-2">Please provide reason for setting {{review}} to {{assessmentType}} </h5>
            <textarea class="textarea h-100" [(ngModel)]="reasonTextArea"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" (click)="reason($event)">Done</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
</ng-template>