<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Fathom</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav" *ngIf="nav.visible">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/equipment']">Equipment</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/evaluation']">Evaluations</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/review']">Review</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/reports']">Reports</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/analysis']">Analysis</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/users']">Users</a>
			</li>
		</ul>
	</div>
	<span class="float-end" *ngIf="nav.visible">
		<a class="logoutButton me-3" (click)="doLogout()">Logout</a>
	</span>
</nav>