<div class="row justify-content-center mt-5">
    <div class="col-md-8  mt-3 text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 text-end">
            <button type="button" class="btn btn-primary btn-sm me-2"><i class="fa fa-plus-circle"></i> Import</button>
            <button type="button" class="btn btn-primary btn-sm me-2" (click)="onScanner(content)"><i class="bi bi-plus-circle"></i> Scanner</button>
            <button type="button" class="btn btn-primary btn-sm me-2"><i class="bi bi-plus-circle"></i>Transducer</button>
        </div>
    </div>
    <div class="card mt-2 p-4 col-md-8">
        <div class="row">
            <div class="col-sm-2 col-md-1 col-lg-1 ">
                <label for="facility" class="col-form-label-sm fw-bold">Facility:</label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 ">
                <select class="form-select btn-sm">
                    <option selected>Select</option>
                    <option value="1">CIRS</option>
                    <option value="1">Fathom</option>
                </select>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1">
                <label for="room" class="col-form-label-sm fw-bold">Room:</label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <select class="form-select btn-sm">
                    <option selected>Select</option>
                    <option value="1">RM1</option>
                    <option value="1">RM2</option>
                </select>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <label for="due-date" class="col-form-label-sm fw-bold">Due Date:</label>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 mb-4">
                <mat-form-field class="date-picker" appearance="fill">
                    <mat-label>Enter a Due Date</mat-label>
                    <mat-date-range-input [rangePicker]="picker" class="date-picker">
                      <input matStartDate placeholder="Start date">
                      <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
            </div>
        </div>
        <div *ngFor="let scan of scanners" class="scanner-holder">
            <div class="row">
                <div class="col-md-3" (click)="onView($event,view)">{{scan.name}}</div>
                <div class="col-md-3">{{scan.cirs}}</div>
                <div class="col-md-3">{{scan.rm}}</div>
                <div class="col-md-3">{{scan.due}}</div>
            </div>
            <div class="row d-inline">
                <ul class="ms-5">
                    <li *ngFor="let equ of scan.transducer"><a src="#">{{equ.scan}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Add/ Edit Scanner modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{showModalTitle}}</h4>
        <span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
    </div>
    <div class="modal-body">
        <form class="example-form" [formGroup]="scannerFormGroup">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Make :</mat-label>
                        <input type="text" matInput formControlName="make" required [matAutocomplete]="make">
                        <mat-autocomplete #make="matAutocomplete" [displayWith]="displayOption">
                            <mat-option *ngFor="let make of filteredMake | async" [value]="make">
                                {{make.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Facility :</mat-label>
                        <input type="text" matInput formControlName="facility" [matAutocomplete]="facility">
                        <mat-autocomplete #facility="matAutocomplete" [displayWith]="displayOption">
                            <mat-option *ngFor="let facility of filteredFacility | async" [value]="facility">
                                {{facility.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Model :</mat-label>
                        <input type="text" matInput formControlName="model" required [matAutocomplete]="model">
                        <mat-autocomplete #model="matAutocomplete" [displayWith]="displayOption">
                            <mat-option *ngFor="let model of filteredModel | async" [value]="model">
                                {{model.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Room :</mat-label>
                        <input type="text" matInput formControlName="room" [matAutocomplete]="room">
                        <mat-autocomplete #room="matAutocomplete" [displayWith]="displayOption">
                            <mat-option *ngFor="let room of filteredRoom | async" [value]="room">
                                {{room.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>S/N :</mat-label>
                        <input type="text" matInput formControlName="sn" required>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" [disabled]="!scannerFormGroup.valid">Save</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
</ng-template>
.
<!-- view scanner  details modal-->
<ng-template #view let-modal>
    <div class="modal-header">
        <h4 class="modal-title " id="modal-view">Scanner Details</h4>
        <span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
    </div>
    <div class="modal-body">
        <div class="row mb-2">
            <div class="col-6 form-group input-group-sm">
                <label class="col-form-label-sm fw-bold">Make: </label>&nbsp;
                <label class="col-form-label-sm me-2">{{makeObj[0]}}</label>
            </div>
            <div class="col-6 form-group input-group-sm">
                <label class="col-form-label-sm fw-bold">Facility: </label>&nbsp;
                <label class="col-form-label-sm me-2 center ">{{viewData.cirs}}</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6 form-group input-group-sm">
                <label class="col-form-label-sm fw-bold">Model: </label>&nbsp;
                <label class="col-form-label-sm me-2">{{viewData.cirs}}</label>
            </div>
            <div class="col-6 form-group input-group-sm">
                <label class="col-form-label-sm fw-bold">Room: </label>&nbsp;
                <label class="col-form-label-sm text-center">{{viewData.rm}}</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6 form-group input-group-sm">
                <label class="col-form-label-sm fw-bold">S/N: </label>&nbsp;
                <label class="col-form-label-sm me-2">{{makeObj[1]}}</label>
            </div>
            <div class="col-6 form-group input-group-sm">
                <label class="col-form-label-sm fw-bold">Barcode: </label>&nbsp;
                <label class="col-form-label-sm text-center">{{viewData.rm}}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" (click)="onEdit($event,content)">Edit</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Return</button>
    </div>
</ng-template>