.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.ag-table {
    width: 800px;
    height: 400px;
}
.cursorPointer {
    cursor: pointer;
}
.close-btn {
    cursor:pointer;
    font-size:25px !important;
}
.scanner-img {
    width: 100% !important;
}
.textarea {
    height: 100px !important;
    width: 100%;
} 

#due-date{
    margin-top:-10px ;
}
.matInput{
    width: 350px;
}
#due-date .mat-form-field {
    width: 60%;
}

.drop-button {
width: 110%;
}

.spinner {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
.barcode  {
    display: inline-flex
}

.scanner-print {
    display: contents;
}

.tranducerPrint {
    border: none;
}

.tranducer {
    margin-top: -30px !important;
}

.print-size {
  padding: 100%;
  margin-left: 20px;
  height: 50px;

}

#scannerPrint {
    display: none;
}

.analysis {
    width: 100px;
}
.non-finalized-blk {
    color: blue;
}
.finalized-blk {
    color: red;
}