<div class="row justify-content-center mt-5">
    <div class="col-md-8  mt-3 text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 text-end">
            <button type="button" class="btn btn-primary btn-sm me-2" style="float:left"
            (click)="equipementDetails(equipementList)">
                Print Barcodes
            </button>
            <button type="button" class="btn btn-primary btn-sm me-2" disabled>
                <i class="fa fa-file" aria-hidden="true"></i> Import
                </button>
            <button type="button" class="btn btn-primary btn-sm me-2" (click)="onScanner(content)">
                <i class="fa fa-plus-circle fs-5" aria-hidden="true"></i> Scanner
                </button>
            <button type="button" class="btn btn-primary btn-sm me-2" (click)="onTransducer(transducerModal)">
                <i class="fa fa-plus-circle fs-5" aria-hidden="true"></i> Transducer
            </button>
        </div>
    </div>
    <div class="card mt-2 p-4 col-md-8">
        <!-- scanner list -->
        <table class="scanner-holder mt-4">
            <th>Equipement </th>
            <th>Facility <i (click)="onSortClick($event, 'facility')" class="my-icon fa fa-chevron-up"></i></th>
            <th>Room <i (click)="onSortClick($event, 'room')" class="my-icon fa fa-chevron-up"></i></th>
            <th>Test Date <i (click)="onSortClick($event, 'Test Date')" class="my-icon fa fa-chevron-up"></i></th>
            <tbody *ngFor="let scanner of scannersObject">
              <td class="scanner-holder mt-4" style="display: block;">
                <div class="col-md-4 cursorPointer" (click)="scannerDetail(scanner, view)" style="display: contents;">
                    {{scanner.manufacturer}} {{scanner.model}} : {{scanner.serial_number}} 
                </div>
                <div class="row d-inline"  style="display: contents;">
                    <ul class="ms-5 col-md-10 col-sm-10 col-lg-10">
                        <li class="cursorPointer" *ngFor="let transducer of scanner.transducers">
                            <div (click)="onTransducerDetail(transducer, scanner, transducerView)"> 
                                {{transducer.manufacturer}} {{transducer.model}} : {{transducer.serial_number}}
                            </div>
                        </li>
                    </ul>
                </div>
              </td>
              <td class="col-md-2">{{scanner.facility}}</td>
              <td class="col-md-2">
                {{scanner.room}}
                <!-- <div *ngIf="scanner.next_study_due && scanner.next_study_due.length > 0" class="col-md-2">
                    {{scanner.next_study_due.type}}
                </div>
                <div *ngIf="scanner.next_study_due && scanner.next_study_due.length > 0" class="col-md-2">
                    {{scanner.next_study_due.date | date: 'M/d/yyyy'}}
                </div> -->
              </td>
              <td class="col-md-2">
                <span *ngIf="scanner.last_evaluation == null">Onboarding Needed</span>
                <span class="non-finalized-blk" *ngIf="scanner.last_evaluation !== null && scanner.last_evaluation.finalized_assessment == null">{{scanner.last_evaluation.date_performed}}</span>
                <span class="finalized-blk" *ngIf="scanner.last_evaluation !== null && scanner.last_evaluation.finalized_assessment !== null && scanner.last_evaluation.date_performed < oldDate" >
                    {{scanner.last_evaluation.date_performed}}
                </span>
                <span *ngIf="scanner.last_evaluation !== null && scanner.last_evaluation.finalized_assessment !== null 
                && scanner.last_evaluation.date_performed > oldDate">
                    {{scanner.last_evaluation.date_performed}}
                </span>
              </td>
           </tbody>
        </table>
        <!-- transducers list -->
        <div class="h-4" *ngIf="!loading">
            <div class="bg-secondary text-white p-1 col-md-12 cursorPointer">Unassigned Transducers</div>
            <div class="row d-inline mt-4">
                <ul class="ms-5">
                    <li class="cursorPointer" *ngFor="let transducer of unassignedTransducers">
                        <a src="#" (click)="onTransducerDetail(transducer,'scanner',transducerView)">
                            {{transducer.manufacturer}} {{transducer.model}} : {{transducer.serial_number}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" *ngIf="loading">
            <mat-spinner diameter="50" customSpinner color="#fff" *ngIf="loading"></mat-spinner>
        </div>
    </div>
    <!-- Barcode print code -->
    <div id="scannerPrint" #scannerPrint class="scanner-print">
        <ngx-barcode6 
        [bc-format]="'MSI'" 
        [bc-font-size]="50" 
        [bc-width]="4" 
        [bc-height]="100" 
        [bc-value]="barcodeValue"
        [bc-fontSize]="20" 
        [bc-display-value]="true">
        </ngx-barcode6>
    </div>

    <!-- Add / Edit Scanner modal -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">{{addModalTitle}}</h5>
            <span class="close close-btn" (click)="modalService.dismissAll('Cross click')">&times;</span>
        </div>
        <div class="modal-body">
            <form class="example-form" [formGroup]="scannerFormGroup">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Manufacturer :</mat-label>
                            <input type="text" matInput formControlName="manufacturer" required [matAutocomplete]="manufacturer">
                            <mat-autocomplete #manufacturer="matAutocomplete"(optionSelected)='modelFilter($event.option.value)'>
                                <mat-option *ngFor="let manufacturer of filteredMake | async" [value]="manufacturer">
                                    {{manufacturer}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="scannerFormGroup.controls.manufacturer.errors?.required">
                                Manufacturer is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Facility :</mat-label>
                            <input type="text" matInput formControlName="facility" [matAutocomplete]="facility">
                            <mat-autocomplete #facility="matAutocomplete">
                                <mat-option *ngFor="let facility of filteredFacility | async" [value]="facility">
                                    {{facility}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3" (click)="onModel()">
                        <mat-form-field appearance="fill">
                            <mat-label>Model :</mat-label>
                            <input type="text" matInput formControlName="model" required [matAutocomplete]="model">
                            <mat-autocomplete #model="matAutocomplete">
                                <mat-option *ngFor="let model of filteredModel | async" [value]="model">
                                    {{model}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="scannerFormGroup.controls.model.errors?.required">
                                Model is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Room :</mat-label>
                            <input type="text" matInput formControlName="room" [matAutocomplete]="room">
                            <mat-autocomplete #room="matAutocomplete">
                                <mat-option *ngFor="let room of filteredRoom | async" [value]="room">
                                    {{room}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill">
                            <mat-label>S/N :</mat-label>
                            <input type="text" matInput formControlName="serial_number" required>
                            <mat-error *ngIf="scannerFormGroup.controls.serial_number.errors?.required">
                                S/N is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Asset Number:</mat-label>
                            <input type="text" matInput formControlName="asset_number">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3" *ngIf="scannerId !== null">
                        <mat-form-field appearance="fill">
                            <mat-label>Barcode :</mat-label>
                            <input type="text" matInput formControlName="barcode_number">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button 
                type="button" 
                class="btn btn-secondary btn-sm" 
                [disabled]="!scannerFormGroup.valid || addingScanner" 
                (click)="onSubmitScanner(scannerId)">
                <span *ngIf="addingScanner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> 
                Save
            </button>
            <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
    </ng-template>
    <!-- Add/ Edit transducer modal -->
    <ng-template #transducerModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">{{transducerModalTitle}}</h5>
            <span class="close close-btn" (click)="modalService.dismissAll('Cross click')">&times;</span>
        </div>
        <div class="modal-body">
            <form class="form" id="form" [formGroup]="transducerFormGroup">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill" class="matInput">
                            <mat-label>Manufacturer :</mat-label>
                            <input type="text" matInput formControlName="manufacturer" required [matAutocomplete]="manufacturer"
                                (keyup)="onKey($event,manufacturer);modelTranducerFilter(manufacturer)">
                            <mat-autocomplete #manufacturer="matAutocomplete"
                                (optionSelected)='modelTranducerFilter($event.option.value)'>
                                <mat-option *ngFor="let manufacturer of filteredMakeTransducer | async" value="{{manufacturer}}">
                                    {{manufacturer}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="transducerFormGroup.controls.manufacturer.errors?.required">
                                Manufacturer is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill" class="matInput">
                            <mat-label>Scanner:</mat-label>
                            <input type="text" matInput formControlName="scanner" [matAutocomplete]="scanner">
                            <mat-autocomplete #scanner="matAutocomplete" [displayWith]="getScannerId.bind(this)">
                                <mat-option *ngFor="let scanner of scannerLists" value="{{scanner.scanner_id}}">
                                    {{scanner.scannerName}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3" (click)="onModelTranducer()">
                        <mat-form-field appearance="fill" class="matInput">
                            <mat-label>Model :</mat-label>
                            <input type="text" matInput formControlName="model" required [matAutocomplete]="model"
                                (keyup)="onKey($event, model)">
                            <mat-autocomplete #model="matAutocomplete"
                                (optionSelected)="onChangeModalTransducer(model);onKey($event, model)">
                                <mat-option *ngFor="let model of filteredModelTransducer | async" value="{{model}}">
                                    {{model}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="transducerFormGroup.controls.model.errors?.required">
                                Model is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill" class="matInput">
                            <mat-label>Image Setup:</mat-label>
                            <input type="text" matInput formControlName="image" [matAutocomplete]="image">
                            <mat-autocomplete #image="matAutocomplete">
                                <mat-option *ngFor="let image of filteredImageTransducer | async" [value]="image">
                                    {{image}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill" class="matInput">
                            <mat-label>S/N :</mat-label>
                            <input type="text" matInput formControlName="serial_number" required>
                            <mat-error *ngIf="transducerFormGroup.controls.serial_number.errors?.required">
                                S/N is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill" class="matInput">
                            <mat-label>Asset Number :</mat-label>
                            <input type="text" matInput formControlName="asset_number">
                         </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="transducerId !== null">
                        <mat-form-field appearance="fill" class="matInput">
                            <mat-label>Barcode :</mat-label>
                            <input type="text" matInput formControlName="barcode_number">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <mat-form-field appearance="fill" class="matInput">
                            <mat-label>Type :</mat-label>
                            <input type="text" matInput formControlName="type" required [matAutocomplete]="type">
                            <mat-autocomplete #type="matAutocomplete" [displayWith]="getType.bind(this)">
                                <mat-option *ngFor="let type of filteredType | async" value="{{type.value}}">
                                    {{type.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="transducerFormGroup.controls.type.errors?.required">
                                Type is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="transducerId !== null">
                        <mat-form-field appearance="fill" class="matInput">
                            <mat-label>Barcode :</mat-label>
                            <input type="text" matInput formControlName="barcode_number">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row g-2" id="tab" *ngIf="isModel">
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab label="Uniformity Window">
                            <div class="row g-2 pt-2">
                                <div class="col-4">
                                    <div class="row">
                                        <h4 class="text-cente fs-6">Analysis Parameters</h4>
                                        <div class="form-group input-group-sm">
                                            <label class="col-form-label-sm fw-bold me-5">P0: </label>&nbsp;&nbsp;&nbsp;
                                            <input type="text" class="w-25 me-1 h-75 me-2" formControlName="p0_x">
                                            <input type="text" class="w-25 h-75" formControlName="p0_y">
                                        </div>
                                        <div class="form-group input-group-sm">
                                            <label class="col-form-label-sm fw-bold me-5">P1: </label>&nbsp;&nbsp;&nbsp;
                                            <input type="text" class="w-25 me-1 h-75 me-2" formControlName="p1_x">
                                            <input type="text" class="w-25 h-75" formControlName="p1_y">
                                        </div>
                                        <div class="form-group input-group-sm">
                                            <label class="col-form-label-sm fw-bold">Radius One: </label>&nbsp;
                                            <input type="text" class="w-50 h-75" formControlName="radius_one">
                                        </div>
                                        <div class="form-group input-group-sm">
                                            <label class="col-form-label-sm fw-bold">Radius Two: </label>&nbsp;
                                            <input type="text" class="w-50 h-75" formControlName="radius_two">
                                        </div>
                                        <div class="form-group input-group-sm">
                                            <label class="col-form-label-sm fw-bold me-5">Theta: </label>
                                            <input type="text" class="w-50 h-75" formControlName="theta">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <img class="scanner-img" src="../../../assets/scanner.png">
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Image Quality Window">
                            <div class="row g-2 pt-2">
                                <div class="col-4">
                                    <div class="row">
                                        <h4 class="text-cente fs-6">Analysis Parameters</h4>
                                        <div class="form-group input-group-sm">
                                            <label class="col-form-label-sm fw-bold me-5">P0: </label>&nbsp;&nbsp;&nbsp;
                                            <input type="text" class="w-25 me-1 h-75 me-2" formControlName="p0_x">
                                            <input type="text" class="w-25 h-75" formControlName="p0_y">
                                        </div>
                                        <div class="form-group input-group-sm">
                                            <label class="col-form-label-sm fw-bold me-5">P1: </label>&nbsp;&nbsp;&nbsp;
                                            <input type="text" class="w-25 me-1 h-75 me-2" formControlName="p1_x">
                                            <input type="text" class="w-25 h-75" formControlName="p1_y">
                                        </div>
                                        <div class="form-group input-group-sm">
                                            <label class="col-form-label-sm fw-bold">Radius One: </label>&nbsp;
                                            <input type="text" class="w-50 h-75" formControlName="radius_one">
                                        </div>
                                        <div class="form-group input-group-sm">
                                            <label class="col-form-label-sm fw-bold">Radius Two: </label>&nbsp;
                                            <input type="text" class="w-50 h-75" formControlName="radius_two">
                                        </div>
                                        <div class="form-group input-group-sm">
                                            <label class="col-form-label-sm fw-bold me-5">Theta: </label>
                                            <input type="text" class="w-50 h-75" formControlName="theta">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <img class="scanner-img" src="../../../assets/scanner.png">
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="row g-2 float-center" *ngIf="isEmpty">
                    <h6 class="text-center">Unknown Transducer model </h6>
                    <span class="text-center"> Analysis field of view and parameters</span><span
                        class="text-center">Will be determined at onboarding</span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button 
                type="button" 
                class="btn btn-secondary btn-sm" 
                [disabled]="!transducerFormGroup.valid || addingTransducer" 
                (click)="onSubmitTranducer(transducerId)">
                <span *ngIf="addingTransducer" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> 
                Save
            </button>
            <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
    </ng-template>

    <!-- view scanner  details modal-->
    <ng-template #view let-modal>
        <div class="modal-header">
            <h5 class="modal-title " id="modal-view">Scanner Details</h5>
            <span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
        </div>
        <div class="modal-body">
            <div class="row mb-2">
                <div class="col-5 form-group input-group-sm">
                    <label class="col-form-label-sm fw-bold">Manufacturer: </label>&nbsp;
                    <label class="col-form-label-sm me-2">{{viewData.manufacturer}}</label>
                </div>
                <div class="col-7 form-group input-group-sm">
                    <label class="col-form-label-sm fw-bold">Facility: </label>&nbsp;
                    <label class="col-form-label-sm me-2 center ">{{viewData.facility}}</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-5 form-group input-group-sm">
                    <label class="col-form-label-sm fw-bold">Model: </label>&nbsp;
                    <label class="col-form-label-sm me-2">{{viewData.model}}</label>
                </div>
                <div class="col-7 form-group input-group-sm">
                    <label class="col-form-label-sm fw-bold">Room: </label>&nbsp;
                    <label class="col-form-label-sm text-center">{{viewData.room}}</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-5 form-group input-group-sm">
                    <label class="col-form-label-sm fw-bold">S/N: </label>&nbsp;
                    <label class="col-form-label-sm me-2">{{viewData.serial_number}}</label>
                </div>
                <div class="col-5 form-group input-group-sm">
                    <label class="col-form-label-sm fw-bold">Asset Number: </label>&nbsp;
                    <label class="col-form-label-sm me-2">{{viewData.asset_number}}</label>
                </div>
            </div>
            <div class="row mb-2"><br><br>
                <div class="col-7 form-group input-group-sm">
                    <label class="col-form-label-sm fw-bold">Barcode: </label>&nbsp;
                    <div class="scanner-print">
                        <button id="scanner" printSectionId="scannerPrint" ngxPrint [useExistingCss]="true"
                            class="tranducerPrint">
                            <ngx-barcode6 [bc-format]="'MSI'" [bc-width]="1" [bc-height]="20"
                                (click)="printScanner(viewData.barcode)" [bc-value]="viewData.barcode"
                                [bc-display-value]="true"></ngx-barcode6>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm"
                (click)="onScannerEdit(viewData,content)">Edit</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Return</button>
            <button type="button" class="btn btn-danger btn-sm"
                (click)="confirmScannerDelete(viewData, deleteScanner)">Delete</button>
        </div>
    </ng-template>

    <!--Reports Error modal  -->
    <ng-template #reportsError let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Reports FoV Error</h5>
            <span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <h6> Please describe the nature of the error</h6>
                    <textarea class="textarea" placeholder="Enter a description of the error"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm">Reports Error</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="reportsCancel(transducerModal)">Cancel</button>
        </div>
    </ng-template>

    <!-- View transducer modal -->
    <ng-template #transducerView let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Transducer Details</h5>
            <span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
        </div>
        <div class="modal-body">
            <form class="form" id="form" [formGroup]="transducerFormGroup">
                <div class="row mb-2">
                    <div class="col-6 form-group input-group-sm">
                        <label class="col-form-label-sm fw-bold">Manufacturer:</label>&nbsp;
                        <label class="col-form-label-sm me-2">{{viewTransducer.manufacturer}}</label>
                    </div>
                    <div class="col-6 form-group input-group-sm">
                        <label class="col-form-label-sm fw-bold">Scanner:</label>&nbsp;
                        <label class="col-form-label-sm me-2 center ">{{viewTransducer.scanner}}</label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 form-group input-group-sm">
                        <label class="col-form-label-sm fw-bold">Model:</label>&nbsp;
                        <label class="col-form-label-sm me-2 center ">{{viewTransducer.model}}</label>
                    </div>
                    <div class="col-6 form-group input-group-sm">
                        <label class="col-form-label-sm fw-bold">Barcode:</label>&nbsp;
                        <div class="scanner-print">
                            <button class="tranducerPrint" printSectionId="scannerPrint" ngxPrint>
                                <ngx-barcode6 [bc-format]="'MSI'" [bc-width]="1" [bc-height]="20"
                                    (click)="printScanner(viewTransducer.barcode)" [bc-value]="viewTransducer.barcode"
                                    [bc-display-value]="true"></ngx-barcode6>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 form-group input-group-sm">
                        <label class="col-form-label-sm fw-bold">S/N: </label>&nbsp;
                        <label class="col-form-label-sm me-2 center ">{{viewTransducer.serial_number}}</label>
                    </div>
                    <div class="col-6 form-group input-group-sm">
                        <label class="col-form-label-sm fw-bold">Type: </label>&nbsp;
                        <label class="col-form-label-sm me-2 center ">{{viewTransducer.type}}</label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 form-group input-group-sm">
                        <label class="col-form-label-sm fw-bold">Asset Number: </label>&nbsp;
                        <label class="col-form-label-sm me-2 center ">{{viewTransducer.asset_number}}</label>
                    </div>
                </div>
                <div class="row g-2" id="tab" *ngIf="image_analysis">
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab label="Uniformity Window" *ngIf="uniformity_analysis">
                            <div class="row g-2 pt-2">
                                <div class="col-4">
                                    <div class="row">
                                        <h4 class="text-cente fs-6">Analysis Parameters</h4>
                                        <div class="form-group input-group-sm" *ngIf="uniformity_analysis.p0 != null">
                                            <label class="col-form-label-sm fw-bold">P0: </label>&nbsp;
                                            <label class="col-form-label-sm float-end">{{uniformity_analysis.p0.x}} ,
                                                {{uniformity_analysis.p0.y}}</label>
                                        </div>
                                        <div class="form-group input-group-sm" *ngIf="uniformity_analysis.p1 != null">
                                            <label class="col-form-label-sm fw-bold">P1: </label>&nbsp;
                                            <label class="col-form-label-sm float-end">
                                                <span>{{uniformity_analysis?.p1?.x}} , {{uniformity_analysis?.p1?.y}}
                                                </span></label>
                                        </div>

                                        <div class="form-group input-group-sm"
                                            *ngIf="uniformity_analysis.radius_one != null">
                                            <label class="col-form-label-sm fw-bold">Radius One: </label>&nbsp;
                                            <label
                                                class="col-form-label-sm float-end">{{uniformity_analysis.radius_one}}</label>
                                        </div>
                                        <div class="form-group input-group-sm"
                                            *ngIf="uniformity_analysis.radius_two != null">
                                            <label class="col-form-label-sm fw-bold">Radius Two: </label>&nbsp;
                                            <label
                                                class="col-form-label-sm float-end">{{uniformity_analysis.radius_two}}</label>
                                        </div>
                                        <div class="form-group input-group-sm"
                                            *ngIf="uniformity_analysis.theta != null">
                                            <label class="col-form-label-sm fw-bold">Theta: </label>&nbsp;
                                            <label
                                                class="col-form-label-sm float-end">{{uniformity_analysis.theta}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8" *ngIf="uniformity_analysis.img != null">
                                    <img class="scanner-img" src="{{image_analysis.img}}">
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Image Quality Window" *ngIf="image_analysis">
                            <div class="row g-2 pt-2">
                                <div class="col-4">
                                    <div class="row">
                                        <h4 class="text-cente fs-6">Analysis Parameters</h4>
                                        <div class="form-group input-group-sm" *ngIf="image_analysis.p0 != null">
                                            <label class="col-form-label-sm fw-bold">P0: </label>&nbsp;
                                            <label class="col-form-label-sm float-end">{{image_analysis.p0.x}} ,
                                                {{image_analysis.p0.y}}</label>
                                        </div>
                                        <div class="form-group input-group-sm" *ngIf="image_analysis.p1 != null">
                                            <label class="col-form-label-sm fw-bold">P1: </label>&nbsp;
                                            <label class="col-form-label-sm float-end"> <span>{{image_analysis?.p1?.x}}
                                                    , {{image_analysis?.p1?.y}} </span></label>
                                        </div>

                                        <div class="form-group input-group-sm"
                                            *ngIf="image_analysis.radius_one != null">
                                            <label class="col-form-label-sm fw-bold">Radius One: </label>&nbsp;
                                            <label
                                                class="col-form-label-sm float-end">{{image_analysis.radius_one}}</label>
                                        </div>
                                        <div class="form-group input-group-sm"
                                            *ngIf="image_analysis.radius_two != null">
                                            <label class="col-form-label-sm fw-bold">Radius Two: </label>&nbsp;
                                            <label
                                                class="col-form-label-sm float-end">{{image_analysis.radius_two}}</label>
                                        </div>
                                        <div class="form-group input-group-sm" *ngIf="image_analysis.theta != null">
                                            <label class="col-form-label-sm fw-bold">Theta: </label>&nbsp;
                                            <label class="col-form-label-sm float-end">{{image_analysis.theta}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8" *ngIf="image_analysis.img != null">
                                    <img class="scanner-img" src="{{image_analysis.img}}">
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="row" *ngIf="isTab">
                    <img class="scanner-img" src="../../../assets/scanner.png">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm"
                (click)="onTransducerEdit(viewTransducer, transducerModal, image_analysis, uniformity_analysis)">Edit
            </button>
            <button type="button" class="btn btn-danger btn-sm"
                (click)="confirmTransducerDelete(viewTransducer, deleteTranducer)">Delete</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Return</button>
        </div>
    </ng-template>

    <!-- import file modal -->
    <ng-template #importFile let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Import File</h5>
            <span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
        </div>
        <div class="modal-body">
            <form>
                <input type="file" accept=".csv">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm">Upload </button>
            <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
    </ng-template>

    <!-- delete scanner msg alerts -->
    <ng-template #deleteScanner let-modal>
        <div class="modal-body">
            <h5 class="modal-title text-center" id="modal-basic-title"> Are you sure want to delete this?</h5>
        </div>
        <div class="text-center p-2">
            <button type="button" class="btn btn-secondary btn-sm p-1 me-2" (click)="removeScanner(viewData, deleteScanner)">Ok</button>
            <button type="button" class="btn btn-primary btn-sm p-1"
                (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
    </ng-template>

    <!-- delete transducer msg alerts -->
    <ng-template #deleteTranducer let-modal>
        <div class="modal-body">
            <h5 class="modal-title text-center" id="modal-basic-title"> Are you sure want to delete this?</h5>
        </div>
        <div class="text-center p-2">
            <button type="button" class="btn btn-secondary btn-md p-1 me-2" (click)="removeTransducer(viewTransducer)">Ok</button>
            <button type="button" class="btn btn-primary btn-sm p-1"
                (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
    </ng-template>

    <!-- equipement list  -->
    <ng-template #equipementList let-modal class="non-printable" >
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Select equipement to print barcodes </h5>
            <button type="button" class="btn btn-primary" (click)="selectAll()">Select All</button>
            <span class="close close-btn" (click)="modal.dismiss('Cross click')">&times;</span>
        </div>
        <div class="col-12 modal-body" style="display: flex;">
            <div class="col-6">
                <h6 style="text-decoration: underline;">Scanners </h6>
                <ul *ngFor="let scanner of scannersObject" class="scanner-holder mt-4">
                    <mat-checkbox (change)="selectScannerForPrintBarcode(scanner)" [(ngModel)]="scanner.scanner_checkbox"></mat-checkbox>&nbsp;&nbsp; 
                    {{scanner.manufacturer}} : {{scanner.serial_number}} 
                </ul>
            </div>
            <div class="transducer-section col-6">
                <h6 style="text-decoration: underline;">Transducers </h6>
                <div *ngFor="let scanner of scannersObject">
                    <ul *ngFor="let transducer of scanner.transducers">
                        <mat-checkbox (change)="selectTransducerForPrintBarcode(transducer)" [(ngModel)]="transducer.transducer_checkbox"></mat-checkbox>&nbsp;&nbsp; 
                        {{transducer.manufacturer}} {{transducer.model}} : {{transducer.serial_number}} 
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button printSectionId="print-section" ngxPrint [useExistingCss]="true">
            Print</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
    </ng-template>

    <!-- Print Preview Section -->
    <div id="print-section" style="display: none;">
        <li class="list-type" *ngFor="let scanner of scannerToPrint">
            <ul class="list-type"style="margin-bottom: 1000px;">
                <button class="tranducerPrint" printSectionId="scannerPrint" ngxPrint>
                    <ngx-barcode6  [bc-format]="'MSI'" [bc-width]="1" [bc-height]="20"
                        (click)="printScanner(scanner.barcode)" [bc-value]="scanner.barcode"
                        [bc-display-value]="true"></ngx-barcode6>
                </button>
                <p style="font-size: small;">
                    {{scanner.manufacturer}} {{scanner.model}} : {{scanner.serial_number}}
                </p>
            </ul>
        </li>
    </div>
</div>