.card{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.ag-table{
    width: 800px;
    height: 400px;
}
.float-left{
    float: left !important;
}
.scanner-holder {
    margin-top: 20px;
}

.close-btn{
    cursor:pointer;
    font-size:25px!important;
}


.scanner-img{
    width: 100% !important;
}

.textarea{
    height: 100px!important;
} 


.modal-content{
    width: 45em !important;
}