<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="setPassword-form bg-light mt-4 p-4">
                <form class="form-inline"  [formGroup]="setPassword" (ngSubmit)="onSubmit()">
                    <h5>Set Password</h5>
                    <div class="row mb-2">
                        <div class="form-group input-group-sm">
                            <label for="password" class="col-form-label-sm">Password:</label>
                            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter password" name="password">
                            <div *ngIf="setPwdForm.password.touched && setPwdForm.password.invalid" class="msg col-form-label-sm">
                                <div *ngIf="setPwdForm.password.errors && setPwdForm.password.errors.required">Password is required</div>
                                <div *ngIf="setPwdForm.password.errors && setPwdForm.password.errors.password">Please enter valid password</div>
                            </div>
                        </div>
                        <div class="form-group input-group-sm">
                            <label for="verifyPassword" class="col-form-label-sm">Verify Password:</label>
                            <input type="password" formControlName="verifyPassword" class="form-control" id="verifyPassword" placeholder="Enter confirm password" name="verifyPassword">
                            <div *ngIf="setPwdForm.verifyPassword.touched && setPwdForm.verifyPassword.invalid" class="msg col-form-label-sm">
                                <div *ngIf="setPwdForm.verifyPassword.errors && setPwdForm.verifyPassword.errors.required">Confirm password is required</div>
                                <div *ngIf="setPwdForm.verifyPassword.errors && setPwdForm.verifyPassword.errors.verifyPassword">Please enter valid password</div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <button type="button" class="btn btn-secondary float-end mr-1 btn-sm " >Cancel</button>
                            <button type="button" class="btn btn-primary float-end btn-sm me-2" [disabled]="!setPassword.valid">Submit</button>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>