<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="forget-form bg-light mt-4 p-4">
                <div *ngIf="linkSent == false">
                    <form class="form-inline">
                        <h5>Forgot Password</h5>
                        <div class="row mb-2">
                            <div class="form-group input-group-sm">
                                <label for="first_name" class="col-form-label-sm">Email Address:</label>
                                <input type="email" class="form-control"  placeholder="Enter password"
                                    name="password">
                            </div>
                            <div class="col-12 mt-4">
                                <button type="button" class="btn btn-secondary float-end mr-1 btn-sm " >Cancel</button>
                                <button type="button" class="btn btn-primary float-end btn-sm me-2" (click)="submitForgotPassword()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="p-4" *ngIf="linkSent == true">
                    <h4>Request Received </h4>
                    <div>A link to reset your password has been sent to the provided email</div>
                    <button type="button" class="btn btn-primary float-end btn-sm mt-3 mb-3" (click)="returnToLogin()">Return to Login</button>
                </div>
            </div>
        </div>
    </div>
</div>